<!-- ======= Header ======= -->
<script type="text/javascript" src="/assets/js/navb.js"></script>
<header id="header" class="fixed-top header-inner-pages d-flex flex-row">

	<div class="container d-flex  p-2 flex-row justify-content-between" id="head">
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="#header" class="logo mr-auto scrollto"><img src="../assets/img/logo.png" alt="" class="img-fluid"></a>-->
		<div class="p-2 d-flex flex-column">
			<div class="p-2" id="headcont" style="margin-left: 34px; text-align: center;"></div>
			<div class="p-2">
				<nav class="nav-menu d-none d-lg-block " id="navb"></nav>
			</div>
			</nav>
		</div>

		<!-- .nav-menu -->
		<div class="d-flex  p-2 flex-row justify-content-end">
			<div class="p-2">
				<a href="#!"><img class="img-fluid d-block mx-auto" style="width: 200px;"
						src="/assets/img/partner/partnerstrip.png" alt="" /></a>
			</div>

		</div>
	</div>
</header><!-- End Header -->